<div class="archive-details row">
    <div class="col-md">
      <h1>Welcome to Green Coordinate</h1>
      <p>This website, brought to you by the Standing Orders Committee, compiles and displays motions for Green Party conference.</p>
      <p>You can view past conferences by clicking on the buttons below.</p>
      {% assign conferences = site.data.archive | reverse %}
      {% for conference in conferences %}

      {% assign conf_url = conference.season | slugify | append: conference.year %}
        <h2>s<a href="{{ conf.url | relative_url }}">{{ conference.season }} {{conference.year }}</a></h2>
      {% endfor %}
    </div>
  </div>